<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RxTermsAPISoapBinding" maxReceivedMessageSize="1000000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mor.nlm.nih.gov/axis/services/RxTermsAPI"
          binding="basicHttpBinding" bindingConfiguration="RxTermsAPISoapBinding"
          contract="SOAP.RxTerms.RxTermsService" name="RxTermsAPI" />
    </client>
  </system.serviceModel>  
</configuration>